:root {
    --mainBlue: #85D5FF;
    --bgBlack: #1A1A1A;
}


body {
    overflow-x: hidden;
    background-color: var(--bgBlack);
}

.nav-right button {
    margin-right: 35px;
}
.nav-right i {
    transition: 0.5s;
}

.mobile-menu {
    color: var(--bgBlack);
    background-color: WHITE;
    right: 25px;
    position: fixed;
}
.hero h1 {
    font-weight: 900;
}

.contact-btn {
    width: 20 0px;
    background-color: #85D5FF;
}
.hero-right img {
    width: 240px;
    height: 240px;
    object-fit: cover;
}
.icons a {
    transition: 0.1s ease-in-out;
}
.icons a:hover {
    color: var(--mainBlue);
}
.service h1, .service h3 {
    font-weight: 700;
    color: var(--mainBlue);
}
.portfolio {
    background-size: 900%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/SVG/Portfolio\ Background.svg');
}

.review-name {
    color: var(--mainBlue);
}

.review-message {
    position: relative;
}
.quote {
    color: var(--mainBlue);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(-1, 1);
}

.custom-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--mainBlue);
}
.input-form input {
    outline: none;
    border-bottom: 2px solid var(--mainBlue);
}
.input-form textarea {
    resize: none;
    margin-left: 9px;
    outline: none;
    border-bottom: 2px solid var(--mainBlue);
}
.input-form {
    width: 200px;
}


@media (min-width: 1280px) {
    .hero-right img {
        width: 340px;
        height: 340px;
        object-fit: cover;
    }


    .portfolio {
        height: 900px;
        background-size: cover;
        background-position-y: -170px;
        background-image: url('../img/SVG/Portfolio\ Background.svg');
    }
    .portfolio .img-box img {
        height: 100%;
    }
    .portfolio-right, .portfolio-left {
        min-height: 100%;
    }
    .portfolio img {
        object-fit: cover;
    }
}
